.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 2rem;
  font-size: 1.3rem;
  & img {
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    object-fit: cover;
  }
}
.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  & > span {
    display: block;
  }
}
.asset_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}
.asset {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  & span {
    display: block;
  }
}
